# List of directories to backup, separated by semi-colon
directories='/etc;/usr/local/etc'

# List of databases to backup, separated by semi-colon
databases=''

# Database dump options
# Utility to backup database. Supported values: 'mysqldump'
db_backup_util='mysqldump'

# Database server, username and password
db_server='localhost'
db_username='username'
db_password='password'

# Database backup options
db_backup_options='--single-transaction --max-allowed-packet=1G'

# Enable or disable gzip in tar. Supported values: 'yes', 'no'
enable_gzip='yes'

# List of tar options
tar_options=''

# Mail Notification options
# You need to install sendemail (sudo apt-get install sendemail). Supported values: 'yes', 'no'
enable_mail_notification='yes'

# Mail options: smtp server, recipient, sender, subject
mail_server='mail.example.org'
mail_to='admin@example.org'
mail_from="noreply@$(hostname -f)"
mail_subject='Backup error'

# Backup options
# Supported values local, nfs, cifs or ftp
backup_type='local'

# Directory for backup files
backup_directory='/usr/backups/data'

# Date format and suffix for backup name
backup_date=$(/bin/date +%Y-%m-%d)
backup_suffix='backup'

# Enable backup rotation. Supported values: 'yes', 'no'
backup_rotation_enabled='no'

# If rotation enabled, backups will be removed over a specified number of days
backup_rotation=7

# Name of the server to store backups, username and password
backup_server='storage.example.org'
backup_server_username='username'
backup_server_password='password'

# Path to backup log file
backup_logfile='/tmp/backup.log'

# Temp file for backup error
backup_error='/tmp/backup_error.log'

# NFS target and options
nfs_target="/raid/data/backups/$(hostname -f)"
nfs_options='nfsvers=3,hard,intr'

# CIFS directory and options
cifs_directory="$(hostname -f)"
cifs_options=''

# FTP directory
ftp_directory="$(hostname -f)"
